.avatar {
  width: 100px;
  height: 100px;
}

.forgot {
  font-size: 12px;
}

.forgot:hover {
  cursor: pointer;
  color: red;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}
